<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Product App</title>
</head>
<body>

    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
              <img :src="image" :scr="altText">
            </div>

            <div class="product-info">
                <h1>{{ title }}</h1>
                <p v-if="inStock">In stok</p>
                <p v-else="outOfStock"
                   :class="{ outOfStock: !inStock }">Out of stock</p>
                 <p>{{ sale }}</p>

                <ul>
                    <li v-for="detail in detales">{{ detail }}</li>
                </ul>

                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <div v-for="(variant, index) in variants"
                    :key="variant.variantId"
                    class="color-box"
                    :style="{ backgroundColor: variant.variantColor }"
                    @mouseover="updateProduct(index)">
                </div>

                <button v-on:click="addToCart"
                :disabled="!inStock"
                :class="{ disabledButton: !inStock}">Add to Chart</button>
                <button @click="removeFromCart">Remove from cart</button>
                <div class="chart">
                    <p>Cart ({{cart}})</p>
                </div>
            </div>

        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
    <script src="main.js"></script>

</body>
</html>
